/*
!/AmazonProdAdvt
/AmazonProdAdvt/build/*
!/AmazonProdAdvtPlatform
/AmazonProdAdvtPlatform/build/*
/AmazonProdAdvtPlatform/bin/*
/AmazonProdAdvtPlatform/.gradle/*
/AmazonProdAdvtPlatform/.settings/*
/AmazonProdAdvtPlatform/.classpath/*
/AmazonProdAdvtPlatform/.project/*
!/AmazonProdAPI
/AmazonProdAPI/build/*
!/ScaleConcepts
/ScaleConcepts/*
!/ScaleConcepts/src
!/ScaleConcepts/build.gradle
!/settings.gradle
!/.gitignore