/*
!/AmazonProdAdvt
/AmazonProdAdvt/build/*
!/AmazonProdAdvtPlatform
/AmazonProdAdvtPlatform/*
!/AmazonProdAdvtPlatform/src
!/AmazonProdAdvtPlatform/build.gradle
!/AmazonProdAPI
/AmazonProdAPI/build/*
!/ScaleConcepts
/ScaleConcepts/*
!/ScaleConcepts/src
!/ScaleConcepts/build.gradle
!/settings.gradle
!/.gitignore